[Unit]
Description=frpc client to gw service
After=network.target

[Service]
Type=simple
User=ph
ExecStart=/home/ph/frp/frpc -c /home/ph/frp/frpc.gw.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
