[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=man:emacs(1) info:Emacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook nil) (kill emacs))"
Environment=DISPLAY=:%i
Environment=GTK_IM_MODULE=fcitx
Environment=QT_IM_MODULE=fcitx
Environment=XMODIFIERS=@im=fcitx
Environment=QT4_IM_MODULE=fcitx
Environment=CLUTTER_IM_MODULE=fcitx
# Environment=LC_ALL=zh_CN.UTF-8
Environment=LANG=en_US.UTF-8
Environment=LANGUAGE=en_US
Environment=LC_CTYPE=zh_CN.UTF-8
Environment=LC_NUMERIC=en_US.UTF-8
Environment=LC_TIME=en_US.UTF-8
Environment=LC_COLLATE=en_US.UTF-8
Environment=LC_MONETARY=en_US.UTF-8
Environment=LC_MESSAGES=en_US.UTF-8
Environment=LC_PAPER=en_US.UTF-8
Environment=LC_NAME=en_US.UTF-8
Environment=LC_ADDRESS=en_US.UTF-8
Environment=LC_TELEPHONE=en_US.UTF-8
Environment=LC_MEASUREMENT=en_US.UTF-8
Environment=LC_IDENTIFICATION=en_US.UTF-8

TimeoutStartSec=30
Restart=on-failure

[Install]
WantedBy=default.target

