[Unit]
Description=Trigger V2Ray Subscription Refresh

[Timer]
OnUnitInactiveSec=60min
#Persistent=true
#RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
